<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - Police Employee System</title>
    <link rel="stylesheet" href="./assets/css/search.css">
    <link rel="stylesheet" href="./assets/Fontawesome/css/all.css">
    <script defer src="./assets/Fontawesome/js/all.js"></script>
</head>

<body>
<header>
    <div class="header1">
        <img class="logo" src="./assets/img/FBI.png" alt="logo">
        <h1 class="title">Federal Bureau of Investigation</h1>
        <p class="paccess">Access Granted - {{ last_name }} - {{ first_name }} / {{ rank }}</p>

    </div>
</header>
<hr>
<div class="background">
    <div class="container">
        <h2>Employee Police Database</h2>
        <form action="" method="get">
            <div class="form1">
                <label for="q">Search By Name :</label>
                <input for="q" name="q" type="search" value="{{ search_username }}" placeholder="Search...">
                <br>
                <label for="r">Search By Rank :</label>
                <input for="r" name="r" value="{{ search_rank }}" type="search" placeholder="Search...">
            </div>
            <button class="button-submit-search" type="submit">Search</button>
        </form>
        <div class="box-employee">
            {{ employee }}
        </div>
    </div>
</div>
<div class="logout-admin">
    {{ admin_panel }}
    <br>
    <a class="logout-button" href="./logout.php">Logout</a>
</div>
</body>

</html>