@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url(../img/6Ya1Nyb.png); /* For change the background here*/
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
.xdebug-var-dump{
    color: white;
}

.header1 {
    display: flex;
    align-items: center;
    background-color: black;
}

.title {
    color: red;
    padding-left: 10px;
}



p.error{
    color: white;
    background-color: red;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #DDD;
    box-shadow:0px 0px 10px #4183C4;
    -webkit-animation-name: clignote; /*on affecte l'animation clignote à notre bouton */
    -webkit-animation-duration: 1s; /*on définit la durée de l'animation à 1s*/
    -webkit-animation-iteration-count:infinite; /*on dit que l'animation se répétera à l'infini.*/
}

.logo {
    width: 150px;
}

h2 {
    color: white;
    font-size: 45px;
}

hr {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(48, 48, 48, 0.466);
    color: white;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 10px;

}

form {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 550px;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 10px;


}

.danger {
    color: white;
    background-color: red;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #DDD;
    margin-left: 10px;
    box-shadow: 0px 0px 10px #4183C4;
    -webkit-animation-name: clignote;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

a {
    text-decoration: none;
    color: white;
}

.button-submit {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background: linear-gradient(to bottom, #3aad00 5%, #54fc00 100%);
    background-color: #3aad00;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    cursor: pointer;
    color: #fafafa;
    padding: 6px 12px;
    margin-top: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
}

.button-submit:hover {
    background: linear-gradient(to bottom, #54fc00 5%, #3aad00 100%);
    background-color: #54fc00;
}


@-webkit-keyframes clignote {
    0% {
        box-shadow: 0px 0px 10px red;
    }

    50% {
        box-shadow: 0px 0px 0px red;
    }

    100% {
        box-shadow: 0px 0px 10px red;
    }
}

.button-list {
    display: flex;
    margin: 10px;
    flex-direction: column;
}

h2{
    margin-bottom: 10px;
}

.button-submit-back {
    background: linear-gradient(to bottom, red 5%, red 100%);
    background-color: rgb(235, 231, 231);
    border-radius: 4px;
    border: 1px solid rgb(235, 231, 231);
    cursor: pointer;
    color: white;
    padding: 6px 12px;
    margin-top: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(235, 231, 231);
    width: 100px;
    margin-left: 5px;
}


p{
    color: white;
}

.box-employee{
    display: flex;
    justify-content: space-around;
}

.icons-admin{
    margin-top: 17px;

}

.box-name{
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

.alert-user{
    color: white;
    background-color: rgb(56, 172, 61);
    text-shadow: 0 1px 0 white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #DDD;
    margin-left: 10px;
}