@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* For change the background */
html{
    background-image: url(../img/6Ya1Nyb.png);
}


body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header1{
    display: flex;
    align-items: center;
    background-color: black;
}

.title{
    color: red;
    padding-left: 10px;
}

.logo{
    width: 150px;
}

h2{
    color: white;
    font-size: 45px;
}

hr{
    margin: 0px;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/background-container.png);
    color: white;
    text-align: center;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-top: 15px;

}

form{
    display: flex;
    flex-direction: column;
    padding: 150px;    

}

p{
    color: white;
    background-color: red;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #DDD;
    box-shadow:0px 0px 10px #4183C4;
    -webkit-animation-name: clignote; /*on affecte l'animation clignote à notre bouton */
    -webkit-animation-duration: 1s; /*on définit la durée de l'animation à 1s*/
    -webkit-animation-iteration-count:infinite; /*on dit que l'animation se répétera à l'infini.*/
}

.flex-container{
    line-height:65px;
}

/* .button-submit{
    color: white;
    border-radius:12px 0 12px 0;
	background: green;
	border:none;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #999;
} */

a{
    color: white;
}

.adminpanel-singin{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.button-submit {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #3aad00 5%, #54fc00 100%);
	background-color:#3aad00;
	border-radius:4px;
	border:1px solid #4b8f29;
	cursor:pointer;
	color:#fafafa;
    padding:6px 12px;
    margin-top: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.button-submit:hover {
	background:linear-gradient(to bottom, #54fc00 5%, #3aad00 100%);
	background-color:#54fc00;
}


@-webkit-keyframes clignote {
    0%{box-shadow:0px 0px 10px red;}
    50%{box-shadow:0px 0px 0px red;}
    100%{box-shadow:0px 0px 10px red;}
}

li a{
    padding: 5px;
    text-decoration: none;
}