@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    background-image: url(../img/6Ya1Nyb.png); /* For change the background here */  
   
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header1{
    display: flex;
    align-items: center;
    background-color: black;
}

.title{
    color: red;
    padding-left: 10px;
}

.logo{
    width: 150px;
}

h2{
    color: white;
    font-size: 45px;
}

hr{
    margin: 0px;
}

.paccess{
    color: white;
    background-color: rgb(52, 182, 52);
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #DDD;
    box-shadow:0px 0px 10px #4183C4;
    -webkit-animation-name: clignote; /*on affecte l'animation clignote à notre bouton */
    -webkit-animation-duration: 1s; /*on définit la durée de l'animation à 1s*/
    -webkit-animation-iteration-count:infinite; /*on dit que l'animation se répétera à l'infini.*/
    
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(48, 48, 48, 0.466);
    color: white;
    text-align: center;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-top: 15px;

}

form{
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px; 

}

p{
    color: white;
}

.flex-container{
    line-height:65px;
}

a{
    color: white;
}

@-webkit-keyframes clignote {
    0%{box-shadow:0px 0px 10px lime;}
    50%{box-shadow:0px 0px 0px lime;}
    100%{box-shadow:0px 0px 10px lime;}
}

.form1{
    display: flex;
    flex-direction: column;

}

.button-submit-search {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background: linear-gradient(to bottom, #3aad00 5%, #54fc00 100%);
    background-color: #3aad00;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    cursor: pointer;
    color: #fafafa;
    padding: 6px 12px;
    margin-top: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
}

.button-submit-search:hover {
    background: linear-gradient(to bottom, #54fc00 5%, #3aad00 100%);
    background-color: #54fc00;
}

.admin-panel-button, .logout-button{
    color: white;
    background-color: rgb(52, 87, 182);
    text-shadow: 0 1px 0 white;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #DDD;
    text-decoration: none;
}

.logout-admin{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 10px;
}