@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    background-image: url(../img/6Ya1Nyb.png);
}


body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header1{
    background-color: black;
}

.title{
    color: red;
}

.logo{
    width: 150px;
}

h2{
    color: white;
    font-size: 45px;
}

.login{
    color: white;
    text-shadow: 0 1px 0 black;
}

.container{
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

p{
    color: white;
    background-color: red;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #DDD;
    box-shadow:0px 0px 10px #4183C4;
    -webkit-animation-name: clignote; /*on affecte l'animation clignote à notre bouton */
    -webkit-animation-duration: 1s; /*on définit la durée de l'animation à 1s*/
    -webkit-animation-iteration-count:infinite; /*on dit que l'animation se répétera à l'infini.*/
}

.flex-container{
    line-height:65px;
}

.button-submit{
    color: white;
    border-radius:12px 0 12px 0;
	background: green;
	border:none;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #999;
}

a{
    color: white;
}

@-webkit-keyframes clignote {
    0%{box-shadow:0px 0px 10px red;}
    50%{box-shadow:0px 0px 0px red;}
    100%{box-shadow:0px 0px 10px red;}
}

